In [52]:
import matplotlib 
import pandas as pd
import requests
import seaborn
import numpy as np

In [53]:
df = pd.read_csv("global_data.csv", parse_dates=["isodate"], index_col=0)

In [54]:
df.head()

                country  confirmed  deaths  recovered
isodate
2020-01-22  Afghanistan          0       0          0
2020-01-22      Albania          0       0          0
2020-01-22      Algeria          0       0          0
2020-01-22      Andorra          0       0          0
2020-01-22       Angola          0       0          0

In [16]:
df.tail()

                       country  confirmed  deaths  recovered
isodate
2021-01-11             Vietnam       1515      35       1361
2021-01-11  West Bank and Gaza     148171    1614     132158
2021-01-11               Yemen       2105     612       1416
2021-01-11              Zambia      28596     471      20781
2021-01-11            Zimbabwe      22297     528      13213

In [18]:
df.describe()

          confirmed         deaths     recovered
count  6.799600e+04   67996.000000  6.799600e+04
mean   1.264336e+05    3589.347447  7.762093e+04
std    7.667586e+05   17675.036719  4.663746e+05
min    0.000000e+00       0.000000  0.000000e+00
25%    5.600000e+01       0.000000  1.400000e+01
50%    2.334500e+03      48.000000  1.127000e+03
75%    3.122275e+04     586.000000  1.579725e+04
max    2.262230e+07  376343.000000  1.011129e+07

In [19]:
df = df[df["confirmed"] > 0]
df.describe()

          confirmed         deaths     recovered
count  5.889700e+04   58897.000000  5.889700e+04
mean   1.459663e+05    4143.865885  8.961259e+04
std    8.221294e+05   18930.758360  5.000336e+05
min    1.000000e+00       0.000000  0.000000e+00
25%    4.520000e+02       7.000000  1.270000e+02
50%    4.813000e+03      83.000000  2.062000e+03
75%    4.682900e+04     853.000000  2.336400e+04
max    2.262230e+07  376343.000000  1.011129e+07

In [20]:
grouped_df = df.groupby("country").max()

In [37]:
print(grouped_df.sort_values("confirmed", ascending=False)['confirmed'][:10])

country
US                22622305
India             10479179
Brazil             8131612
Russia             3389733
United Kingdom     3127643
France             2844680
Turkey             2336476
Italy              2289021
Spain              2111782
Germany            1941116
Name: confirmed, dtype: int64

In [23]:
print(grouped_df.sort_values("deaths", ascending=False)["deaths"][:10])

country
US                376343
Brazil            203580
India             151327
Mexico            134368
United Kingdom     82096
Italy              79203
France             68197
Russia             61389
Iran               56262
Spain              52275
Name: deaths, dtype: int64

In [25]:
print(grouped_df.sort_values("recovered", ascending=False)["recovered"][:10])

country
India        10111294
Brazil        7273237
US            6298082
Russia        2771793
Turkey        2208451
Italy         1633839
Colombia      1632614
Germany       1590171
Argentina     1518715
Mexico        1160373
Name: recovered, dtype: int64

In [38]:
field = "deaths"
resampled_df = df.resample("D").sum()

In [39]:
resampled_df["difference"] = resampled_df[field].diff()
resampled_df["change"] = resampled_df["difference"].pct_change()

In [40]:
resampled_df.dropna(inplace=True)

In [41]:
resampled_df["difference"] = resampled_df["difference"].apply(int)

resampled_df["change"] = resampled_df["change"].apply(
    lambda x: str(np.round(x * 100, 2)) + "%")

In [42]:
print(resampled_df[[field, "difference", "change"]][-10:])

             deaths  difference   change
isodate
2021-01-02  1835901        8246  -12.35%
2021-01-03  1843211        7310  -11.35%
2021-01-04  1853364       10153   38.89%
2021-01-05  1868790       15426   51.94%
2021-01-06  1883772       14982   -2.88%
2021-01-07  1898648       14876   -0.71%
2021-01-08  1913915       15267    2.63%
2021-01-09  1926638       12723  -16.66%
2021-01-10  1934805        8167  -35.81%
2021-01-11  1945033       10228   25.24%

In [44]:
field = "deaths"
country = "Australia"
filtered_df = df[df["country"] == country].copy()

In [45]:
filtered_df["difference"] = filtered_df[field].diff()
filtered_df["change"] = filtered_df["difference"].pct_change()

In [46]:
filtered_df.dropna(inplace=True)

In [47]:
filtered_df["difference"] = filtered_df["difference"].apply(int)

filtered_df["change"] = filtered_df["change"].apply(
    lambda x: str(np.round(x * 100, 2)) + "%")

In [48]:
print(filtered_df[[field, "difference", "change"]][-10:])

            deaths  difference   change
isodate
2020-10-13     904           5   400.0%
2020-10-14     904           0  -100.0%
2020-10-18     905           1     inf%
2020-10-19     905           0  -100.0%
2020-10-27     907           2     inf%
2020-10-28     907           0  -100.0%
2020-11-29     908           1     inf%
2020-11-30     908           0  -100.0%
2020-12-27     909           1     inf%
2020-12-28     909           0  -100.0%

In [58]:
df = pd.read_csv("covid_data.xlsx")

FileNotFoundError: [Errno 2] No such file or directory: 'covid_data.xlsx'