In [277]:
import matplotlib.pyplot as plt 
import pandas as pd

import numpy as np

In [278]:
covid_data = pd.read_csv("covid_data_original.csv", low_memory=False)

In [279]:
covid_data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,24/02/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,25/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,26/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,27/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,28/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [281]:
df = pd.DataFrame(covid_data)

In [286]:
df.drop(columns=['iso_code', 'continent', 'date', 'total_cases', 'new_cases', 'new_cases_smoothed','total_deaths', 'new_deaths','new_deaths_smoothed', 'total_cases_per_million', 'new_cases_per_million', 'new_cases_smoothed_per_million', 'total_deaths_per_million','new_deaths_per_million', 'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients', 'icu_patients_per_million', 'hosp_patients', 'hosp_patients_per_million', 'weekly_icu_admissions', 'weekly_icu_admissions_per_million', 'weekly_hosp_admissions','weekly_hosp_admissions_per_million', 'new_tests', 'total_tests', 'total_tests_per_thousand', 'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'positive_rate', 'tests_per_case', 'new_tests_per_thousand', 'tests_units', 'total_vaccinations', 'people_vaccinated', 'people_vaccinated_per_hundred', 'people_fully_vaccinated', 'new_vaccinations', 'people_fully_vaccinated_per_hundred', 'female_smokers','male_smokers', 'new_vaccinations_smoothed', 'total_vaccinations_per_hundred', 'new_vaccinations_smoothed_per_million'])

,location,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,Afghanistan,8.33,38928341,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.5,64.83,0.511
1,Afghanistan,8.33,38928341,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.5,64.83,0.511
2,Afghanistan,8.33,38928341,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.5,64.83,0.511
3,Afghanistan,8.33,38928341,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.5,64.83,0.511
4,Afghanistan,8.33,38928341,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73988,Zimbabwe,35.19,14862927,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,36.791,1.7,61.49,0.571
73989,Zimbabwe,35.19,14862927,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,36.791,1.7,61.49,0.571
73990,Zimbabwe,35.19,14862927,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,36.791,1.7,61.49,0.571
73991,Zimbabwe,NaN,14862927,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,36.791,1.7,61.49,0.571
73992,Zimbabwe,NaN,14862927,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,36.791,1.7,61.49,0.571

In [287]:
grouped_df = df.groupby(['location']);

In [243]:
print(grouped_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000019A8A9443D0>

In [288]:
grouped_df.count()

,iso_code,continent,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
location,,,,,,,,,,,,,,,,,,,,,
Afghanistan,381,381,381,381,381,376,354,354,376,381,...,381,0,381,381,0,0,381,381,381,381
Africa,392,0,392,391,392,386,368,392,386,391,...,0,0,0,0,0,0,0,0,0,0
Albania,380,380,380,367,367,362,365,365,362,367,...,380,380,380,380,380,380,0,380,380,380
Algeria,380,380,380,380,380,375,364,364,375,380,...,380,380,380,380,380,380,380,380,380,380
Andorra,374,374,374,374,374,369,354,354,369,374,...,0,0,374,374,374,374,0,0,374,374
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,413,413,413,413,413,408,223,223,408,413,...,413,413,413,413,413,413,413,413,413,413
World,414,0,414,414,414,408,414,414,408,414,...,414,414,414,414,414,414,414,414,414,414
Yemen,335,335,335,335,335,330,315,315,330,335,...,335,335,335,335,335,335,335,335,335,335
Zambia,358,358,358,358,358,353,343,343,353,358,...,358,358,358,358,358,358,358,358,358,358
Zimbabwe,356,356,356,356,356,351,353,353,351,356,...,356,356,356,356,356,356,356,356,356,356

In [259]:
# data.rename(columns={'gdp':'log(gdp)'}, inplace=True)
df.rename(columns={'location' : 'country'}, inplace =True)

In [260]:
grouped_df.head()

,iso_code,continent,country,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,24/02/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,25/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,26/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,27/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,28/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73637,ZWE,Africa,Zimbabwe,20/03/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
73638,ZWE,Africa,Zimbabwe,21/03/2020,3.0,2.0,NaN,NaN,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
73639,ZWE,Africa,Zimbabwe,22/03/2020,3.0,0.0,NaN,NaN,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
73640,ZWE,Africa,Zimbabwe,23/03/2020,3.0,0.0,NaN,1.0,1.0,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
73641,ZWE,Africa,Zimbabwe,24/03/2020,3.0,0.0,NaN,1.0,0.0,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571